@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
  font-family: 'Bruno Ace SC', cursive;
}

body{
  height: 100vh;
  font-family: 'Bruno Ace SC', cursive;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navbar-left img {
    height: 40px;
    margin: auto 20px;
}

.navbar-left span {
    font-size: 1.5rem;
}

.navbar-right ul {
    display: flex;
    list-style-type: none;
    margin: auto auto;
    padding: 0;
    justify-content: flex-end;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.navbar-right li {
    margin-right: 20px;
    font-size: 1.25rem;
}

.navbar-right li:last-child {
    margin-right: 0;
}

.navbar-right li a {
    color: white;
    text-decoration: none;
}

.logout-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
}

.content {
    margin: 20px;
}

html, body {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.w-70 {
  width: 80%;
}

.w-30 {
  width: 20%;
}

.h-screen {
  height: 100%;
}

.bg-white {
  background-color: #fff;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.p-6 {
  padding: 1.5rem;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 640px) {
  .flex-row {
    flex-direction: column;
  }
  .w-70, .w-30 {
    width: 100%;
  }
}
