.room,
.participants {
  background: var(--color-dark);
  max-height: 87.5vh;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 900px) {
  .participants {
    display: none;
  }

  .layout--2>.container>div:first-child {
    flex-basis: 100%;
  }
}

.room__top,
.participants__top {
  background: var(--color-dark-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.room__top svg,
.thread__top svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-light);
  cursor: pointer;
}

.room__topLeft {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.room__topLeft h3,
.participants__top {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.room__topLeft svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-light);
}

.room__topRight {
  display: flex;
  column-gap: 1em;
}

.room__topRight svg {
  fill: var(--color-main-light);
}

.room__header {
  max-height: 30vh;
  /* overflow-y: auto; */
  position: absolute;
  width: 95%;
  background: var(--color-dark);
  z-index: 999;
  top: 4.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .room__header {
    top: 4.3rem;
    padding-right: 2rem;
  }
}

.room__box {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 80vh;
  /* overflow-y: auto; */
  padding-bottom: 0;
}

@media screen and (max-width: 500px) {
  .room__box {
    padding-left: 2.5rem;
    padding-right: 2rem;
    height: 80.5vh;
    overflow-y: auto;
    padding-bottom: 0;
  }
}

.room__info {
  display: flex;
  justify-content: space-between;
}

.room__info h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-main);
}

.room__hosted p {
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.room__author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.room__author:hover {
  text-decoration: underline;
}

.room__topics {
  padding: 0.5rem 1.5rem;
  background: var(--color-dark-light);
  color: var(--color-light);
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin: auto 0;
}

.room__conversation {
  margin-top: -1.5rem;
  margin-bottom: 4rem;
  height: 64%;
}

.threads h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray);
}

.threads {
  background: var(--color-bg);
  border-radius: 0.7rem;
  overflow-y: auto;
  height: 100%;
  margin-top: 28vh;
  padding: 0 2rem 4rem 2rem;
}

.thread {
  border-left: 2px solid var(--color-dark);
  padding-left: 1rem;
  margin: 0;
  padding: 2rem;
}

.thread__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thread__top svg {
  fill: var(--color-dark-light);
}

.thread__author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.thread__authorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.thread__details {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.room__message {
  padding: 2rem;
  position: absolute;
  z-index: 111;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}

.room__message>form>input {
  resize: none;
  background-color: var(--color-dark-light);
  color: var(--color-light);
  border: none;
  outline: none;
  border-radius: 0.7rem;
  height: 4.5rem;
  width: 100%;
  margin-top: -1rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}

.room__message>form>input::placeholder {
  color: var(--color-light-gray);
}

.participants__top span {
  color: var(--color-main);
  font-size: 1.3rem;
  text-transform: none;
}

.participants__top {
  justify-content: flex-start;
  gap: 0.5rem;
}

.participants__list {
  padding: 2rem;
  height: 82.5vh;
  overflow-y: scroll;
  padding-bottom: 0;
}

.participant {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.participant p {
  color: var(--color-light-gray);
  line-height: 1.2;
}

.participant span {
  display: block;
  font-weight: 500;
  color: var(--color-main);
  font-weight: 1.4rem;
}